.progressBar {
  position: fixed;
  top: 1;
  left: 0;
  right: 0;
  height: 10px;
  background-color: red;
  transform-origin: 0%;
  /* z-index: 1; */
  transition-duration: 100ms;
}

/* Styles for Safari (position: -webkit-sticky) */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-sticky: 1) {
    .progressBar {
      position: -webkit-sticky;
      top: 0;
    }
  }
}
